name: Build ZMK firmware
on:
  push:
    paths:
      - "build.yaml"
      - "config/*"
      - "boards/**"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
